@using mathema_lucy_mulheresdocafe.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
	Layout = null;
}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mathema Innovations">
	<link rel="icon" href="~/Content/assents/img/favicon.ico">
	<title>Mulheres do Café</title>

	<link href="~/Content/assents/css/animate.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' >
	<link href="~/Content/assents/css/style.css" rel="stylesheet" />
	<link href="~/Content/assents/css/main-login.css" rel="stylesheet" />	
</head>

<body class="body-bg">		
	@*<img src="~/Content/assents/media/coffeeBeansDark.jpg" />*@
		<div class="body-bg-Class">
			<div class="container" id="main-container-auth">
				<div class="row" style="display:flex; justify-content:flex-start; align-items:center;">
					<div class="col=md-6">						
						<img src="~/Content/assents/media/logo-v.png" class="container-logo" style="max-height: 250px;"/>
					</div>
					<div class="col=md-6">
						<hr>
					</div>
				</div>
				<div class="row flex-normalize" style="display:flex; justify-content:center; margin-bottom:25px;">
					<div class="col-md-6 flex-normalize">
						<h2 class="main-header">Uma experiência social no <i>Coffee Break</i> do seu evento</h2>
					</div>
					<div class="col-md-6 container-flex-right">
						<div class="row" style="display:flex; margin:20px;">
							<div class="container-body col-lg-4 col-md-6 col-sm-8 col-xs-12" style="display: flex; flex-direction:column; justify-content:center;">
								<div class="container-logo-auth">
									<h2 style="text-align:center;">Faça o login</h2>
								</div>
								<section id="loginForm">
									@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
									{
										@Html.AntiForgeryToken()
										@Html.ValidationSummary(true, "", new { @class = "text-danger" })
										<div class="form-row">
											<label class="form-label-auth" for="email"></label>
											<input class="form-input-underline" type="text" id="Email" name="Email" placeholder="Usuário" required />
											<svg viewBox="0 0 20 20" class="icon">
												<path d="M0 0 L10 10 L0 20"></path>
											</svg>
										</div>
										<!-- PASSWORD -->
										<div class="form-row">
											<label class="form-label-auth" for="pass"></label>
											<input class="form-input-underline" type="password" id="Password" name="Password" placeholder="Senha" required>
											<svg viewBox="0 0 20 20" class="icon">
												<path d="M0 0 L10 10 L0 20"></path>
											</svg>
										</div>
										<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<div class="checkbox">
													@Html.CheckBoxFor(m => m.RememberMe)
													@Html.LabelFor(m => m.RememberMe)
												</div>
											</div>
										</div>
										<!-- WARNING PLACEHOLDER -->
										<div class="form-row" id="wrongInfo">
											<p style="color:#8C0000; font-size:1.4rem;"><a id="displayMsg"></a></p>
										</div>
										<!-- BUTTONS -->
										<div class="container-bottom" style="max-height:150px; display:flex; flex-direction:column; justify-content:center;">
											@*<button type="button" class="btn-entrar" id="btn-enter" onclick="logIn();">Entrar</button>*@
											<input type="submit" class="btn btn-entrar" value="Entrar" />
											@*@Html.ActionLink("Cadastre-se", "Register", new { @class = "btn btn-cadastrar" })*@

											<button type="button" class="btn btn-cadastrar">@Html.ActionLink("Cadastre-se", "Register", new { @class = "btn btn-cadastrar" })</button>
										</div>
									}

									<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="display:flex; justify-content:center;">
									</div>
									<!-- <button onclick="login();">Continuar com o Facebook</button> -->
									<!-- <button onclick="info();">Debug info</button> -->
									<div id="loggedIn"></div>
									<!-- margin-left:16px; margin-right:16px; -->
									<div class="container-bottom" style="display:flex; justify-content:center;">
										<div class="row">
											<p><a id="forgotPass_login" href="forgot.html" style="font-size:1.2rem;">Esqueci minha senha</a></p>
										</div>
									</div>
								</section>
							</div><!--/.Container Body-->
						</div><!--/.Row-->
						<!-- <div class="fb-like" data-share="true" data-width="450" data-show-faces="true" style="width:100px; display:flex; justify-content:flex-end;"> -->
					</div><!--/.RIGHT COLUMN-->
				</div>
			</div>
		</div>
		@*<div class="col-md-4">
				<section id="socialLoginForm">
					@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
				</section>
			</div>*@
	<!-- Footer -->
	<footer class="footer">
		<div class="container-fluid">
			<p class="copyright pull-right">
				&copy;
				<script>document.write(new Date().getFullYear())</script> <a href="http://mathemainnovation.com.br/">Mathema Innovation</a>, Creative and innovative solutions with knowledge, wisdom and dream.
			</p>
		</div>
	</footer>
	<!-- Footer -->
	<script src="~/Scripts/scripts/data-touched.js"></script>
	<script src="~/Scripts/scripts/login.js"></script>

</body>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}